* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.col-1-6{
  width: calc(100% / 6 );
}

.col-2-6{
  width: calc(100% / 6 * 2);
  
}

.col-4-6{
  width: calc(100% / 6 * 4);
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

.box-container{
  width: 920px;
  margin: auto;
  font-family: Heebo;
}

 .row > *{
   float: left;
}

.row-2 > *{
  float: right;
}

.row-2::after{
  content: "";
  display: table;
  clear: both;
}

                  /*fine list utility*/


.background-header{
  background-image: url(../img/img/jumbo.png);
  background-size: cover;
  background-position-y: center;
} 
  
.container-nav{
  padding-top: 25px;
}

nav ul li a {
  color: white;
  list-style: none;
  padding-left: 40px;
  text-decoration: none;
}

.header-list {
  line-height: 34px;
  text-align: center;
}

 nav ul li{
  display: inline-block;
}

.btn-light{
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 10px 26px;;
  border-radius: 4em / 4em;
}

.btn-right{
  text-align: right;
  line-height: 34px;
}

                          /*fine nav*/

.header-title{
  font-size: 35px;
  font-weight: 700;
}

.title-box_header{
  text-align: center;
  padding-top: 150px;
  margin: 0 auto;
  color: white;
  padding-bottom: 200px;
}

.header-text{
  padding: 25px 30px;
  font-size: 15px;
}

.btn-black{
  background-color: rgba(35,39,42,255);
  color: white;
  padding: 10px 26px;
  border-radius: 4em / 4em;
  text-decoration: none;
  margin-left: 20px;
}



                                    /*Fine header*/


                                    /*Inizio main central*/

.image-col{
  max-width: 500px;
  padding-top: 150px;
  padding-bottom: 200px;
  vertical-align: middle;
}   

.text-col{
  padding-top: 180px;
  font-weight: 900;
  font-size: 34px;
  padding-bottom: 20px;
}

.text-col_2{
  margin-right: 113px;
}
  
                         /*Fine main central*/

                         
                         /*Inizio final central*/

                         
.text-main_final{
  font-weight: 900;
  font-size: 42px;
  padding-bottom: 25px;
}

.container-main_final{
  text-align: center;
}
  
.background-col{
  background-color: rgba(246,246,246,255);
}

.title-final {
  text-align: center;
  padding-bottom: 45px;
}

.star {
  position: relative;
  text-align: center;
}

.btn-blue {
  border-radius: 4em / 4em;
  text-decoration: none;
  padding: 10px 26px;
  background-color: rgba(142,161,225,255);
  color: white;
}
                       /*Fine del main*/

footer{
  background-color: #23272A;
  margin-top: 150px;
}
                       
.title-footer{
  font-size: 35px;
  color: rgba(114,137,218,255);
  padding-bottom: 20px;
}

.lista-footer{
  list-style: none;
  padding-top: 50px;
 }

.lista-footer li {
  display: inline-block;
}

.flag-italy{
  width: 26px;
}

.text-white{
  color: white;
  padding-bottom: 10px;
}

 .row  li{
  list-style: none;
}

.social-container{
  padding-top: 20px;
  display: inline-flex;
}

.social{
  padding-right: 20px;
  font-size: 27px;
  color: white;
  display: inline-block;
}


.box-lista-footer{
 padding-top: 62px;
}

.text-purple{
  color: rgba(114,137,218,255);
  padding-bottom: 10px;
}

.final-footer{
  margin-right: 66%;
}

.final-box{
  border-top: 1px solid rgba(114,137,218,255);
  padding-top: 40px;
  padding-bottom: 30px;
}

